header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(128, 128, 128, 0.39);
    box-shadow: 1px 1px rgba(255, 255, 255, 0.281);
    background: rgba(128, 128, 128, 0.484);

    .links {
        cursor: pointer;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .auth {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}
