<section *ngIf="contact$ | async as contact" class="contact-details">
	<img src="https://robohash.org/{{ contact._id }}?set=set1" alt="contact" />
	<section class="contact-data-container" *ngIf="user$ | async as user">
		<section>
			<h1>{{ contact.name }}</h1>
			<p>Phone: {{ contact.phone }}</p>
			<p>Email: {{ contact.email }}</p>
			<transfer-fund
				(transferCoins)="onTransferCoins($event)"
				[contact]="contact"
				[maxCoins]="user.coins"
			></transfer-fund>
		</section>
		<section *ngIf="contactMoves$ | async as moves">
			<move-list
				*ngIf="moves.length"
				[contact]="contact"
				[moves]="moves"
			></move-list>
		</section>
	</section>
	<section class="footer">
		<button (click)="onBack()">Back</button>
	</section>
</section>
